.principal{
  color:#52A8D0;
}
.secundario{
  color:#4DB5E5;
}
.subtitulo1{
  text-align : center;
  /*color:chocolate;*/
  border: 3px solid darkblue;
}
.subtitulo2{
  text-align : center;
  /*color:chocolate;*/
  border: 3px solid darkblue;
}